reserved-names:
  array-identifier: "___ARRAY___"
  key-identifier: "___KEY___"
  input-identifier: "IN"
  output-identifier: "OUT"
  in-out-separator: "_"
async-configuration:
  test-element-pool-size: 10
  test-element-max-queue: 30
  keep-alive-time-test-element: 1000
  execution-stress-pool-size: 100
  execution-stress-max-queue: 10000
  keep-alive-execution-stress: 3000
spring:
  datasource:
    # H2 database config for dev only purposes
    # jdbc:h2:mem:testdb -> volatile | jdbc:h2:file:/data/folder -> persistent
    # More info -> http://www.h2database.com/html/features.html#connection_modes
    # url: jdbc:h2:mem:testdb
    url: jdbc:h2:file:./data/folder
    driver-class-name: org.h2.Driver
    username: drunkenSailor
    password: 
    platform:  org.hibernate.dialect.H2Dialect 
  h2:
    console:
      enabled: true
      path: /application-database
      settings:
        trace: false
        web-allow-others: false
  jpa:
    hibernate:
      ddl-auto: update