async-configuration:
  test-element-pool-size: 10
  test-element-max-queue: 30
  keep-alive-time-test-element: 10
  execution-stress-pool-size: 100
  execution-stress-max-queue: 10000
  keep-alive-execution-stress: 30
okta:
  oauth2:
    issuer: ${OKTA_OAUTH_ISSUER}
    client-id: ${OKTA_OAUTH_CLIENT_ID}
    client-secret: ${OKTA_OAUTH_CLIENT_SECRET}
management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include:
        - "*"
spring:
  datasource:
    # H2 database config for dev only purposes
    # jdbc:h2:mem:testdb -> volatile | jdbc:h2:file:/data/folder -> persistent
    # More info -> http://www.h2database.com/html/features.html#connection_modes
    # url: jdbc:h2:mem:testdb
    url: jdbc:h2:file:./data/folder
    driver-class-name: org.h2.Driver
    username: drunken
    password: ""
    platform:  org.hibernate.dialect.H2Dialect 
  h2:
    console:
      enabled: true
      path: /application-database
      settings:
        trace: false
        web-allow-others: false
  jpa:
    hibernate:
      ddl-auto: update